*, *::after, *::before{
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #111;
}

ul{
	position: relative;
}

ul li{
	position: relative;
	list-style:none; 
}

ul li a{
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
 	color: rgb(255,255,255,.5);
 	font-size: 2em;
 	font-weight: 100;
}



a.myMenu{
	position: fixed;
	top:5px;
	right: 5px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color:#E0E0E0;
	transition: height 0.1s linear, width 0.1s linear, background-color 1s linear;
}

.myMenu:hover{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #6685A3;
}