*, *::after, *::before{
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #111;
}

ul{
	position: relative;
}

ul li{
	position: relative;
	list-style:none; 
}

ul li a{
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
 	color: rgb(255,255,255,.5);
 	font-size: 2em;
 	font-weight: 100;
}